.contact-modal {
    img {
        width: 30px;
    }

    .modal-title {
        img {
            width: 28px;
            position: relative;
            top: -2px;
            left: 2px;
        }
    }

    .modal-body {
        >div {
            padding: 5px 0;

            span {
                // width: 80px;

                padding-right: 5px;
                display: inline-block;

                img {
                    margin-right: 5px;
                    // position: relative;
                    // right: 20px;
                }
            }



            .qr-code {
                width: auto;
                margin: auto;
                display: block;
                max-width: 100%;
            }
        }
    }
}