.lightbox {
    top: 50% !important;
    transform: translate(0, -50%);
}

.main-area {
    // min-height: calc(100vh - 40px);
}

.item-details-container {

    .main-area {
        h3 {
            color: orange;
            margin-bottom: 20px;
        }

        .btn {
            margin-bottom: 10px;

            >img {
                width: 16px;
                position: relative;
                bottom: 1px;
                right: 5px;
            }
        }
    }

    .breadcrumb {
        background-color: #fff;
    }

    .left {
        >a {
            display: block;


            img {
                max-width: 100%;

            }
        }

        .thumb-nails-container {
            width: 100%;
            height: 120px;
            padding: 10px 0;

            >div {
                cursor: pointer;
                display: inline-block;
                width: 120px;
                text-align: center;
                height: 80px;
                padding-right: 10px;

                img {
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
}