* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body,
#root,
.App {

  &::-webkit-scrollbar,
  &::-webkit-scrollbar-track {
    display: none;
    width: 0;
  }

  *::-webkit-scrollbar,
  * ::-webkit-scrollbar-track {
    display: none;
    width: 0;
    /*隐藏滚轮*/
  }
}

/* height: 100%; */

@media screen and (max-width: 400px) {
  .jumbotron.jumbotron-fluid {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}

/* .full-height {
  height: 100%;
} */