.list-container {
    >.container {
        // padding: 30px 10px;
        padding: 0;
        padding: 20px 0 50px 0;

        .row {
            height: 100%;
            overflow: auto;

            .col-6 {
                padding: 0;

                .item {
                    margin: 2px 0;

                    &:nth-child(odd) {
                        margin-right: 5px;
                    }
                }
            }
        }

        .pagination {
            margin-bottom: 0;
        }
    }

    .card {
        .card-text {
            color: orange;
        }

        .card-body {

            .btn {
                width: 120px;
                display: block;
                margin: auto;

                &.btn-success {
                    margin-top: 5px;
                }
            }


        }
    }
}

@media screen and (max-width: 400px) {}