.list-container {
    >.container {
        // padding: 30px 10px;
        padding: 0;
        padding: 20px 0 100px 0;

        .row {
            height: 100%;
            overflow: auto;
            margin-left: 0;
            margin-right: 0;

            .col-6 {
                &:nth-child(odd) {
                    padding-right: 2.5px;
                    padding-left: 10px;
                }

                &:nth-child(even) {
                    padding-left: 2.5px;
                    padding-right: 10px;
                }

                padding: 0;

                .item {
                    margin: 2px 0;
                }
            }
        }

        .pagination {
            margin-bottom: 0;
        }
    }

    .card {
        .card-text {
            color: orange;
        }

        .card-body {

            .btn {
                width: 120px;
                display: block;
                margin: auto;

                &.btn-success {
                    margin-top: 5px;
                }
            }


        }
    }
}

@media screen and (max-width: 400px) {}